<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>404 - Attraction Finder</title>
    <style>
        body{text-align:center;}
        form{height:50vh; width:25vw; margin:auto; text-align:left;}
        #submitButton{width:100%;}

    </style>
</head>
<body>
<h1>Attraction Finder</h1>
<h2>404</h2>
<p>There's nothing here. Try elsewhere.</p>
<form action="/">
    <br/>
    <input id="submitButton" type="submit" value="Home">
</form>
</body>
</html>