<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Attraction Finder</title>
    <style>
        body{text-align:center;}
        form{height:50vh; width:25vw; margin:auto; text-align:left;}
        nav{max-height:50vh; overflow:hidden; overflow-y:scroll; border-width:1px; border-style:solid; padding:10px;}
        #submitButton{width:100%;}
        #tagList{list-style-type: none;padding:0;margin:0;}

    </style>
</head>
<body>
<h1>Attraction Finder</h1>
<form action="/result.html" id="tagSelection">
    <nav>
        <ul id="tagList">
            <li th:each="tag : ${tags}"><!--/* This will loop over the tags list and create each tag */-->
                <input id="tagId" th:id="${tag.id}" th:value="${tag.id}" type="checkbox" value="tagId">
                <label for="tagId" th:for="${tag.id}" th:text="${tag.name}">Tag Name</label>
            </li>
        </ul>
    </nav>
    <br/>
    <input id="submitButton" type="submit" value="Search">
</form>
</body>
</html>